<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--<![endif]-->

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>SincityRP | Server You Love</title>

    <meta name="author" content="sincityrp.org">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">

    <!-- Reponsive -->
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css">

    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="/assets/icon/aottari.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/icon/aottari.png">

    <style>
        #logo_header {
            height: 100px;     /* Adjust based on your navbar size */
            width: auto;      /* Keep original aspect ratio */
            max-height: 100%; /* Prevent it from overflowing */
        }

        #site-logo {
            height: 100px;     /* Match your navbar height if needed */
            display: flex;
            align-items: center;
        }
    </style>
    <style>
        #logo-footer {
            height: 100px;     /* Adjust based on your footer size */
            width: auto;      /* Keep original aspect ratio */
            max-height: 100%; /* Prevent it from overflowing */
        }

        #logo_footer {
            height: 100px;     /* Match your navbar height if needed */
            display: flex;
            align-items: center;
        }
    </style>
</head>

<body class="body">

    <!-- Preloader -->
<div id="preloader">
    <div class="spinner"></div>
</div>

    
        
    <div id="wrapper">
        <div id="page" class="pt-40">
            
            <header id="header_main" class="header_1 header-fixed">
                <div class="themesflat-container">
                    <div class="row">
                        <div class="col-md-12">                              
                            <div id="site-header-inner"> 
                                <div class="wrap-box flex">
                                    <div id="site-logo">
                                        <div id="site-logo-inner">
                                            <a href="#" rel="home" class="main-logo">
                                                <img id="logo_header" src="/assets/images/logo/sincitynavbar.png" data-retina="/assets/images/logo/logo@2x.png">
                                            </a>
                                        </div>
                                    </div><!-- logo -->
                                    <div class="mobile-button">
                                        <span></span>
                                    </div><!-- /.mobile-button -->
                                    <nav id="main-nav" class="main-nav">
                                        <ul id="menu-primary-menu" class="menu">    
                                            
                                        </ul>
                                    </nav><!-- /#main-nav -->
                                    <div class="flat-wallet flex">
                                        <div class="" id="wallet-header">

                                                <a href="/" id="connectbtn" class="tf-button style-1">
                                                    <span>Home</span>
                                                </a>
                                        </div>
                                        
                                        
                                        <div class="canvas">
                                            <span></span>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="canvas-nav-wrap">
                    <div class="overlay-canvas-nav"></div>
                    <div class="inner-canvas-nav">
                        <div class="side-bar">
                            <a href="#" rel="home" class="main-logo">
                                <img id="logo_header" src="/assets/images/logo/sincitynavbar.png" data-retina="/assets/images/logo/logo@2x.png">
                            </a>
                            <div class="canvas-nav-close">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="white" x="0px" y="0px" width="20px" height="20px" viewbox="0 0 122.878 122.88" enable-background="new 0 0 122.878 122.88" xml:space="preserve"><g><path d="M1.426,8.313c-1.901-1.901-1.901-4.984,0-6.886c1.901-1.902,4.984-1.902,6.886,0l53.127,53.127l53.127-53.127 c1.901-1.902,4.984-1.902,6.887,0c1.901,1.901,1.901,4.985,0,6.886L68.324,61.439l53.128,53.128c1.901,1.901,1.901,4.984,0,6.886 c-1.902,1.902-4.985,1.902-6.887,0L61.438,68.326L8.312,121.453c-1.901,1.902-4.984,1.902-6.886,0 c-1.901-1.901-1.901-4.984,0-6.886l53.127-53.128L1.426,8.313L1.426,8.313z"></path></g></svg>
                            </div>
                            <div class="widget-search mt-30">
                                
                            </div>
                            <div class="widget widget-categories">
                                <h5 class="title-widget">Servers</h5>
                                <ul>
                                    <li>
                                        <div class="cate-item"><a href="#">Fivem Allolist</a></div>
                                        <div class="number">🔴</div>
                                    </li>
                                    <li>
                                        <div class="cate-item"><a href="#">Fivem Public</a></div>
                                        <div class="number">(soon)</div>
                                    </li>
                                    <li>
                                        <div class="cate-item"><a href="#">Fivem Developer</a></div>
                                        <div class="number">🟢</div>
                                    </li>
                                    <li>
                                        <div class="cate-item"><a href="#">RedM</a></div>
                                        <div class="number">(soon)</div>
                                    </li>
                                </ul>
                            </div>                            
                            <div class="widget widget-menu style-4">
                                <h5 class="title-widget">Company</h5>
                                <ul>
                                    <li><a href="#">Help center</a></li>
                                    <li><a href="#">Platform status</a></li>
                                </ul>
                            </div>
                            <div class="widget">
                                <h5 class="title-widget">Join the community</h5>
                                <div class="widget-social">
                                    <ul class="flex">
                                        <li><a href="#" class="icon-facebook"></a></li>
                                        <li><a href="#" class="icon-twitter"></a></li>
                                        <li><a href="#" class="icon-vt"></a></li>
                                        <li><a href="#" class="icon-tiktok"></a></li>
                                        <li><a href="#" class="icon-youtube"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mobile-nav-wrap">
                    <div class="overlay-mobile-nav"></div>
                    <div class="inner-mobile-nav">
                        <a href="#" rel="home" class="main-logo">
                            <img id="mobile-logo_header" src="/assets/images/logo/sincitynavbar.png" data-retina="/assets/images/logo/logo@2x.png">
                        </a>
                        <div class="mobile-nav-close">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="white" x="0px" y="0px" width="20px" height="20px" viewbox="0 0 122.878 122.88" enable-background="new 0 0 122.878 122.88" xml:space="preserve"><g><path d="M1.426,8.313c-1.901-1.901-1.901-4.984,0-6.886c1.901-1.902,4.984-1.902,6.886,0l53.127,53.127l53.127-53.127 c1.901-1.902,4.984-1.902,6.887,0c1.901,1.901,1.901,4.985,0,6.886L68.324,61.439l53.128,53.128c1.901,1.901,1.901,4.984,0,6.886 c-1.902,1.902-4.985,1.902-6.887,0L61.438,68.326L8.312,121.453c-1.901,1.902-4.984,1.902-6.886,0 c-1.901-1.901-1.901-4.984,0-6.886l53.127-53.128L1.426,8.313L1.426,8.313z"></path></g></svg>
                        </div>
                        <nav id="mobile-main-nav" class="mobile-main-nav">
                            <ul id="menu-mobile-menu" class="menu">
                                <li class="menu-item">
                                    <a class="item-menu-mobile" href="#">Home</a>
                                </li>
                                <li class="menu-item">
                                    <a class="item-menu-mobile" href="#">Rules</a>
                                </li>
                            </ul>
                        </nav>                                                                     
                    </div>
                </div>
            </header>

            <div class="tf-section-2 product-detail">
                <div class="themesflat-container">
                    <div class="row">
                        <div data-wow-delay="0s" class="wow fadeInLeft col-md-6">
                            <div class="tf-card-box style-5 mb-0">
                                <% if (user && user.avatar) { %>
                                <div class="card-media mb-0">
                                    <a href="#">
                                    <img src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png" alt="<%= user.username %>'s Avatar">
                                    </a>
                                </div>
                                <% } %>                                
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div data-wow-delay="0s" class="wow fadeInRight infor-product">
                                <div class="text">Verified User <span class="icon-tick"><span class="path1"></span><span class="path2"></span></span></div>
                                <div class="menu_card">
                                    <div class="dropdown">
                                        <div class="icon">
                                            <a href="javascript:void(0);" class="btn-link" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="icon-link-1"></i>
                                            </a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#"><i class="icon-link"></i>Copy link</a>
                                                <a class="dropdown-item" href="#"><i class="icon-facebook"></i>Share on facebook</a>
                                                <a class="dropdown-item mb-0" href="#"><i class="icon-twitter"></i>Share on twitter</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dropdown">
                                        <div class="icon">
                                            <a href="javascript:void(0);" class="btn-link" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="icon-content"></i>
                                            </a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#" id="refreshMetadata"><i class="icon-refresh"></i>Refresh metadata</a>
                                                <a class="dropdown-item mb-0" href="#"><i class="icon-report"></i>Report</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h2><%= user.username %>#<%= user.discriminator %></h2>
                                <div class="author flex items-center mb-30">
                                    <% if (server && server.icon && server.icon.startsWith('a_')) { %>
                                <div class="avatar">
                                    <img 
                                    src="https://cdn.discordapp.com/icons/<%= server.id %>/<%= server.icon.replace('a_', '') %>.png?size=128" 
                                    data-gif="https://cdn.discordapp.com/icons/<%= server.id %>/<%= server.icon %>.gif?size=128"
                                    onmouseover="this.src=this.dataset.gif" 
                                    onmouseout="this.src='https://cdn.discordapp.com/icons/<%= server.id %>/<%= server.icon.replace('a_', '') %>.png?size=128'" 
                                    />
                                </div>
                                <% } else if (server && server.icon) { %>
                                <div class="avatar">
                                    <img src="https://cdn.discordapp.com/icons/<%= server.id %>/<%= server.icon %>.png?size=128" />
                                </div>
                                <% } %>

                                    <div class="info">
                                        <span>Server Info:</span>
                                        <h6><a href="#"><%= server ? server.name : "Server Not Found" %></a></h6>
                                    </div>
                                </div>

                                <div class="meta mb-20">
                                    <% if (typeof isWhitelisted !== 'undefined') { %>
                                    <div class="meta-item whitelist">
                                        <i class="icon-heart"></i> <%= isWhitelisted ? 'Whitelisted' : 'Not Whitelisted' %>
                                    </div>
                                    <% } %>
                                    <% if (userPriority) { %>
                                    <div class="meta-item priority">
                                        <i class="icon-link-2"></i> <%= userPriority %>
                                    </div>
                                    <% } else { %>
                                    <div class="meta-item priority">
                                        <i class="icon-link-2"></i> No Queue Priority
                                    </div>
                                    <% } %>
                                    <div class="meta-item members">
                                        <i class="icon-show"></i> <%= memberCount %> members
                                    </div>
                                </div>
                            </div>
                            <!-- Police Allowlist Form -->
                            <div data-wow-delay="0s" class="wow fadeInRight product-item time-sales">
                                <h6><i class="icon-clock"></i>View All the Open Applications Forms</h6>
                                <div class="content">
                                    <div class="text">Application Processing Time</div>
                                    <div class="flex justify-between">
                                        <p>1 <span>Week</span></p>
                                        <a href="/applications-form"  class="tf-button style-1 h50 w216">Allowlist Application<i class="icon-arrow-up-right2"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div data-wow-delay="0s" class="wow fadeInRight product-item description">
                                <h6><i class="icon-description"></i>Description</h6>
                                <i class="icon-keyboard_arrow_down"></i>
                                <div class="content">
                                    <p>Comming Soon <span>!!!!</span></p>
                                </div>
                            </div>
                            
                        </div>
                        <div data-wow-delay="0s" class="wow fadeInUp col-12">
                            <div class="product-item details">
                                <h6><i class="icon-description"></i>Details</h6>
                                <i class="icon-keyboard_arrow_down"></i>
                                <div class="content">
                                    <div class="details-item">
                                        <span>Contact Address</span>
                                        <span class="tf-color"><%= user.email || 'Not Available' %></span>
                                    </div>
                                    <div class="details-item">
                                        <span>User ID</span>
                                        <span class="tf-color"><%= user.id %></span>
                                    </div>
                                    <div class="details-item">
                                        <span>CID</span>
                                        <span class="">CITIZEN ID</span>
                                    </div>
                                    <div class="details-item">
                                        <span>Phone Number</span>
                                        <span class="">In Game Number</span>
                                    </div>
                                    <div class="details-item">
                                        <span>Last Updated</span>
                                        <span class="">8 months ago</span>
                                    </div>                      
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <footer id="footer">
                <div class="themesflat-container">
                    <div class="row">
                        <div class="col-12">
                            <div class="footer-content flex flex-grow">
                                <div class="widget-logo flex-grow">
                                    <div class="logo-footer" id="logo-footer">
                                        <a href="#">
                                            <img id="logo_footer" src="/assets/images/logo/sincitynavbar.png" data-retina="/assets/images/logo/logo@2x.png">
                                        </a>
                                    </div>
                                </div>
                                <div class="widget widget-menu style-2">
                                    <h5 class="title-widget">Accounts</h5>
                                    <ul>
                                        <li><a href="/dashboard">Dashboard</a></li>
                                        <li><a href="https://discord.gg/mggJUqWDWK" target="_blank">Discord</a></li>
                                        <li><a href="#">store</a></li>
                                    </ul>
                                </div>
                                <div class="widget widget-menu style-3">
                                    <h5 class="title-widget">Pages</h5>
                                    <ul>
                                        <li><a href="/rules">Rules</a></li>
                                        <li><a href="/refundpolicy">Refund Policy</a></li>
                                        <li><a href="/faq">FAQ</a></li>
                                    </ul>
                                </div>
                                <div class="widget-last">
                                    <div class="widget-menu style-4">
                                        <h5 class="title-widget">Company</h5>
                                        <ul>
                                            <li><a href="/support">Help center</a></li>
                                            <li><a href="#">Platform status</a></li>
                                        </ul>
                                    </div>
                                    <h5 class="title-widget mt-30">Join the community</h5>
                                    <div class="widget-social">
                                        <ul class="flex">
                                            <li><a href="#" class="icon-facebook"></a></li>
                                            <li><a href="#" class="icon-twitter"></a></li>
                                            <li><a href="#" class="icon-vt"></a></li>
                                            <li><a href="#" class="icon-tiktok"></a></li>
                                            <li><a href="#" class="icon-youtube"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-bottom">
                        <p>© <span id="year"></span> SinCityRP</p>
                        <script>
                            document.getElementById("year").textContent = new Date().getFullYear();
                        </script>
                        <ul class="flex">
                            <li>
                                <a href="#">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#">Terms of Service</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </footer><!-- /#footer -->

        </div>
        <!-- /#page -->

        <!-- Modal Popup Bid -->
        <div class="modal fade popup" id="popup_bid" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-body">
                        <div class="image">
                            <img src="assets/images/backgroup-section/popup.png" alt="">
                        </div>
                        <div class="logo-rotate">
                            <img class="" src="assets/images/item-background/item6-img.png" alt="">
                        </div>
                        <h2>Subscribe to our newsletter</h2>
                        <p>Subscribe for our newsletter to stay in the loop</p>
                        <fieldset class="email">
                            <input type="email" class="style-1" id="email" placeholder="Email address*" name="email" tabindex="2" value="" aria-required="true" required="">
                        </fieldset>
                        <a href="" class="tf-button style-1 h50">Subscribe<i class="icon-arrow-up-right2"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
      <!-- /#wrapper -->

    <div class="tf-mouse tf-mouse-outer"></div>
    <div class="tf-mouse tf-mouse-inner"></div>

    <div class="progress-wrap active-progress">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewbox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 286.138;"></path>
        </svg>
    </div>

    <!-- Javascript -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/swiper-bundle.min.js"></script>
    <script src="assets/js/swiper.js"></script>
    <script src="assets/js/chart.min.js"></script>
    <script src="assets/js/chart.js"></script>
    <script src="assets/js/count-down.js"></script>
    
    <script src="assets/js/simpleParallax.min.js"></script>
    <script src="assets/js/gsap.js"></script>
    <script src="assets/js/SplitText.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/ScrollTrigger.js"></script>
    <script src="assets/js/gsap-animation.js"></script>
    <script src="assets/js/tsparticles.min.js"></script>
    <script src="assets/js/tsparticles.js"></script>
    <script src="assets/js/main.js"></script>

    <script>
        document.getElementById('refreshMetadata').addEventListener('click', async (e) => {
            e.preventDefault();
            try {
            const res = await fetch('/dashboard', { method: 'POST' });
            const data = await res.json();
            alert('Metadata refreshed!');
            location.reload(); // if you want to update the page
            } catch (err) {
            alert('Error refreshing metadata.');
            }
        });
</script>


</body>

</html>